{% set packages = salt['grains.filter_by']({
        'Ubuntu':   ['vim', 'git', 'htop', 'terminator'],
        'Debian':   ['vim', 'git', 'htop', 'terminator'],
        'Arch':     ['vim', 'git', 'htop', 'terminator'],
        'Windows':  ['googlechrome', 'adobereader', 'git.install',
                    '7zip.install', 'vlc', 'jdk8', 'virtualbox',
                    'dropbox', 'visualstudiocode', 'awscli', 'golang',
                    'conemu', 'python'],
   })
%}