[org/cinnamon]
desktop-effects-unmaximize-transition='easeNone'
desktop-effects-on-dialogs=false
desktop-effects-maximize-transition='easeInExpo'
desktop-effects-map-effect='traditional'
command-history=['parcellite ']
hotcorner-layout=['expo:false:0', 'scale:false:0', 'scale:false:0', 'desktop:false:0']
desktop-effects-close-effect='traditional'
workspace-osd-duration=400
desktop-effects-unmaximize-time=100
desktop-effects-map-time=175
desktop-effects-minimize-effect='traditional'
desktop-effects=false
enable-vfade=false
next-applet-id=14
panel-launchers=['DEPRECATED']
desktop-effects-map-transition='easeOutQuad'
desktop-effects-maximize-time=100
desktop-effects-unmaximize-effect='none'
desktop-effects-tile-transition='easeInQuad'
panels-enabled=['1:0:top']
desktop-effects-maximize-effect='none'
desktop-effects-on-menus=false
enabled-applets=['panel1:right:0:systray@cinnamon.org:0', 'panel1:left:0:menu@cinnamon.org:1', 'panel1:left:2:panel-launchers@cinnamon.org:3', 'panel1:left:3:window-list@cinnamon.org:4', 'panel1:right:1:keyboard@cinnamon.org:5', 'panel1:right:2:notifications@cinnamon.org:6', 'panel1:right:3:removable-drives@cinnamon.org:7', 'panel1:right:5:network@cinnamon.org:9', 'panel1:right:6:bluetooth@cinnamon.org:10', 'panel1:right:7:power@cinnamon.org:11', 'panel1:right:8:calendar@cinnamon.org:12', 'panel1:right:9:sound@cinnamon.org:13']
desktop-effects-minimize-time=200
alttab-switcher-delay=100
desktop-effects-tile-effect='none'
desktop-effects-close-transition='easeOutQuad'
desktop-effects-minimize-transition='easeInQuad'
panel-edit-mode=false
workspace-osd-x=50
workspace-osd-y=50
desktop-effects-close-time=175
favorite-apps=['chromium-browser.desktop', 'terminator.desktop', 'cinnamon-settings.desktop', 'nemo.desktop']
desktop-effects-tile-time=100
startup-animation=false

[org/cinnamon/settings-daemon/peripherals/touchpad]
motion-threshold=1
scrolling-method=1

[org/cinnamon/settings-daemon/peripherals/keyboard]
repeat-interval=uint32 30
delay=uint32 500
numlock-state='on'

[org/cinnamon/settings-daemon/peripherals/mouse]
drag-threshold=8
motion-threshold=1
double-click=400

[org/cinnamon/sounds]
login-enabled=false
logout-enabled=false
unplug-enabled=false
tile-enabled=false
plug-enabled=false
switch-enabled=false

[org/cinnamon/muffin]
resize-threshold=24
tile-hud-threshold=25
workspace-cycle=true

[org/cinnamon/desktop/interface]
clock-show-date=true
cursor-size=28
cursor-blink-time=1200
gtk-overlay-scrollbars=false
icon-theme='Mint-X-Dark'
gtk-theme='Mint-Y-Dark'
toolkit-accessibility=false

[org/cinnamon/desktop/keybindings/media-keys]
terminal=['<Super>t']

[org/cinnamon/desktop/media-handling]
autorun-never=false

[org/cinnamon/desktop/screensaver]
screensaver-name=''

[org/cinnamon/desktop/applications/terminal]
exec='terminator'

[org/cinnamon/desktop/notifications]
fade-opacity=40
remove-old=true

[org/cinnamon/desktop/session]
idle-delay=uint32 0

[org/cinnamon/desktop/wm/preferences]
min-window-opacity=30
theme='Mint-Y-Dark'

[org/cinnamon/desktop/a11y/applications]
screen-keyboard-enabled=false
screen-reader-enabled=false

[org/cinnamon/desktop/a11y/mouse]
secondary-click-enabled=false
secondary-click-time=1.2
dwell-time=1.2
dwell-threshold=10
dwell-click-enabled=false

[org/cinnamon/desktop/sound]
volume-sound-enabled=false
event-sounds=false

[org/cinnamon/desktop/background]
primary-color='#2e2e34343636'
picture-options='none'

[org/cinnamon/desktop/background/slideshow]
image-source='xml:///usr/share/cinnamon-background-properties/linuxmint.xml'
delay=15

[org/cinnamon/theme]
name='Mint-Y-Dark'

[org/cinnamon/cinnamon-session]
quit-time-delay=60
